* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #000000;
    --white: #ffffff;
    --cyan: #3065f8;
    --lightCyan: #5c87ff;
    --white2: #bfbfbf;
    --blue: #070439;
    --ghostwhite: #f8f8fe;
    --darkcyan: #3c9f8f;
    --grey: #585989;
    --lightBlue: #3065f8;
}

body {
    max-width: 100vw;
    background-color: var(--white);
    font-family: 'Open Sans', 'Times New Roman', Times, serif;
}

/* HEADER */

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3rem 5rem 0;
}

.header-logo img {
    width: 9rem;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 3rem;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--blue);
}

/* HEADER */

/* MAIN */

.main {
    width: 100%;
    display: flex;
    padding: 3rem 5rem 8rem 5rem;
    gap: 4rem;
}

.left-side {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side {
    width: 50%
}

.right-side .image img {
    width: 100%;
    height: fit-content;
}

.content h1 {
    font-size: 2rem;
    padding-bottom: 1.25rem;
}

.content p {
    color: var(--blue);
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: 1.25rem;
}

.content input {
    width: 50%;
    font-size: 0.8rem;
    padding: 0.62rem;
    margin-right: 0.7rem;
    border: 1px solid var(--grey);
    border-radius: 0.25rem;
    opacity: 1.5;
}

.content button {
    width: 30%;
    background-color: var(--lightBlue);
    color: var(--white);
    font-size: 0.8rem;
    border: none;
    padding: 0.62rem 1.25rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

/* MAIN */

/* SECOND */

.second {
    background: url('./assets/images/bg-curve-desktop.svg') no-repeat center center/cover;
    width: 100%;
    display: flex;
    padding: 5rem;
    gap: 4rem;   
}

.left-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-container {
    width: 50%;
}

.right-container .image img {
    width: 100%;
}

.second-content h2 {
    font-size: 1.7rem;
    padding-bottom: 2rem;
}

.second-content p {
    color: var(--blue);
    font-size: 1rem;
    padding-bottom: 1.25rem;
    font-weight: 500;
}

.second-content a {
    color: var(--darkcyan);
    font-size: 1rem;
    border-bottom: 1px solid var(--darkcyan);
    text-decoration: none;
}

.box {
    background-color: var(--white);
    width: 50%;
    margin-top: 3rem;
    padding: 1.5rem;
    border-radius: 0.62rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.box p {
    font-size: 0.85rem;
}

.profile {
    width: 100%;
    display: flex;
    align-items: center;
}

.profile div {
    padding-top: 1rem;
}

.profile img {
    width: 2.2rem;
    margin-right: 0.5rem;
    border-radius: 50%;
}

.profile h3 {
    font-size: 0.7rem;
    font-weight: 700;
}

.profile p {
    font-size: 0.6rem;
}

/* SECOND */

/* EARLY ACCESS */

.early-access {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5rem 5rem;
    gap: 4rem;
    background-color: var(--grey);
}

.left-content {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.left-content h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--ghostwhite);
    margin-bottom: 1.3rem;
}

.left-content p {
    font-size: 1rem;
    color: var(--white2);
    margin-right: 7rem;
}

.right-content {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.right-content input {
    width: 70%;
    font-size: 0.8rem;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid var(--grey);
    border-radius: 0.25rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);  
}

.right-content button {
    width: 42%;
    background-color: var(--lightBlue);
    color: var(--white);
    font-size: 0.8rem;
    border: none;
    padding: 0.8rem 1.11rem;
    border-radius: 0.25rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

/* FOOTER */

#footer {
    background-color: var(--blue);
    padding: 5rem 5rem;
}

#footer .footer-content {
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
}

#footer .white-logo {
    margin-bottom: 1rem;
}

#footer .footer-content .contact {
    display: flex;
    align-items: center;
    margin: 0.9rem 0;
}

#footer .footer-content .contact p {
    color: var(--white2);
}

#footer .footer-content .contact img {
    margin-right: 1rem;
}

#footer .footer-content ul {
    list-style-type: none;
}

#footer .footer-content li {
    margin-bottom: 0.9rem;
}

#footer .footer-content a {
    text-decoration: none;
    color: var(--white2);
    font-size: 1rem;
    font-weight: 400;
}

#footer .footer-content .footer-content-4 i {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    border: 1px solid var(--grey);
    margin: 0 .6rem;
    text-align: center;
    line-height: 1.8;
}

@media (max-width: 1000px) {

    .header {
        padding: 1rem;
    }

    .header-logo img {
        width: 7rem;
    }

    .navbar ul {
        gap: 1.5rem;
    }

    .navbar ul li a {
       font-size: 1rem;
    }

    .main {
        flex-direction: column;
        padding: 1rem;
        text-align: center;
    }

    .content h1 {
        font-size: 1.5rem;
    }

    .content p {
        font-size: 1rem;
    }

    .content button {
        width: 40%;
    }

    .second {
        text-align: center;
    }
    .second-content h2 {
        font-size: 1.4rem;
    }

    .second .div a {
        text-align: center;
    }

    .left-side, .right-side,
    .left-container, .right-container, 
    .left-content, .right-content {
        width: 100%;
    }

    .second {
        background: url('./assets/images/bg-curve-mobile.svg') no-repeat center center/cover;
        flex-direction: column;
        padding: 1rem;
    }

    .box {
        width: 100%;
    }

    .early-access {
        flex-direction: column;
        padding: 2rem;
    }

    .right-content input {
        width: 100%;
    }

    .right-content button {
        width: 100%;
    }

    #footer {
        padding: 2rem 2rem;
    }

    #footer .footer-content {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    #footer .footer-content .contact p {
        font-size: 0.9rem;
    }

    #footer .footer-content a {
        font-size: 0.9rem;
    }
}

@media (max-width: 390px) {

    .header .header-logo img {
        width: 5rem;
    }

    .navbar ul li a {
        font-size: 0.9rem;
     }

    .content h1 {
        font-size: 1.1rem;
    }

    .content p {
        font-size: 0.8rem;
    }
    
    .second-content h2 {
        font-size: 1.1rem;
    }

    .second .left-container .second-content p {
        font-size: 0.85rem;
    }

    .second .left-container .second-content .box p {
        font-size: 0.7rem;
    }

    .early-access h2 {
        font-size: 1.1rem;
    }

    .early-access p {
        font-size: 0.9rem;
    }

    #footer .footer-container .white-logo img {
        width: 5rem;
    }

    #footer .footer-content-4 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 320px) {

    .header {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .header .header-logo img {
        width: 7rem;
    }

    .button-input {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    .button-input input, .button-input button {
        width: 100%;
    }

    .button-input input {
        margin: 0;
    }  
}




























    










